*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(59,57,57);
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;background: #556270; 
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    background: linear-gradient(to right, #FF6B6B, #556270);
}

.item{
    background-color: rgb(94,94,194);
    border: 5px solid black;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 100px;
    text-align: center;
    color: white;
    justify-content: center;

}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 50px;
    text-align: center;
    color: white;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.content1{
    grid-column-start: 2;
    grid-column-end : 4;
    font-size: 100px;
    text-align: center;
    color: white;
}

.content2{
    font-size: 100px;
    text-align: center;
    color: white;
}

.content3{
    font-size: 100px;
    text-align: center;
    color: white;
}

