*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    max-width: 90vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    
    
}

.header_desc{
    text-align: center;
    max-width: 568px;
    color: rgb(105, 99, 99);
    margin: 0 auto;
}

.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}

@media (min-width:935px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(111, 109, 109);
    border-radius: 8px;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 7rem;
}

@media (min-width:768px){
    .card_image_container{
        height: 12rem;
    }
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    columns: rgb(25, 23, 23);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title_anchor .card_title {
    color: black;
}

.card_title_anchor:visited .card_title {
    color: black;
}

.card_title_anchor:hover .card_title {
    color: rgb(35, 35, 163);
}

.card_desc{
    color: rgb(113, 107, 107);
    font-size: 1rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 1.5rem;
}


.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}


.author_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 50%;
    background-color: rgb(243, 239, 239);
}

.author_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    line-height: 1.2rem; 
}

.author_name{
    color: rgb(8, 8, 211);
}

.author_date{
    color: rgb(10, 10, 10);
}

.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(76,71,71);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: rgb(6, 6, 6);
}

/* Footer */
.footer{
    background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     color: azure;
     width: 100%;
     text-align: center;
     padding: 15px 0;
}

.footer p{
    font-size: 1.5rem;
}
