*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navcontainer{
    width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
}

#navlist{
    list-style-type: none;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

#navlogo{
    font-size: 2.8rem;
    color: azure;
}

#navitems a{
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
    margin-left: 20px;
}

/* Content Box */
.contentbox{
    width: 80%;
    margin: 40px auto;
    box-shadow: 3px 3px 3px grey;
}

/* Recipe Card */
.item{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
}

.leftbox{
    width: 60%;
}

.rightbox img{
    width: 260px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.rightbox img:hover{
    transform: scale(1.1);
}

/* Footer */
.footer{
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
     color: azure;
     width: 100%;
     text-align: center;
     padding: 15px 0;
}

.footer p{
    font-size: 1.5rem;
}
