.user-container {
  width: 2300px;
  background: rgb(239, 168, 74);
  padding: 18px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 8px 22px rgba(0,0,0,0.35);
  transition: 0.3s ease;
  color: black;
}
#user-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

#user-name {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

#user-desc {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}